@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-display: swap;
}

html {
  font-family: "Inter", sans-serif;
  min-height: 100%;
  font-variant: tabular-nums;
}

body {
  background-color: #290242;
  color: #fdf0cb;
  width: 100%;
  min-height: 100%;
  position: absolute;
  margin: auto;
  line-height: 1.25;
  font-size: 125%;
  hyphens: auto;
  overflow-wrap: break-word;
  display: flex;
  text-align: justify;
}

main {
  padding: 30px 5%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

a {
  color: #7affde;
}

h1 {
  color: #f3ffdf;
  font-size: 300%;
  font-weight: 350;
}

#nowPlaying {
  font-size: 60%;
  font-style: italic;
  color: #9ef3b0;
}

h2 {
  font-size: 200%;
  color: #dddcff;
}

#canvas {
  /* For debugging */
  border: 1px solid white;
}

.songs {
  display: flexbox;
}

.song {
  background-color: #5c0542;
  padding: 0.2em 0.8em;
  border-radius: 0.5em;
  width: 30em;
}

dt {
  font-weight: bold;
  color: #cbeffd;
}

dl.songMeta dt::after {
  content: ": ";
}

dl.songMeta dt {
  display: inline;
}

dl.songMeta dd {
  display: inline;
}

.maps {
  padding-bottom: 0.7em;
}

button {
  color: #a5ffe4;
  background-color: #04311c;
  border: 1px solid white;
  padding: 0.2em 0.5em;
  font-family: "Inter", sans-serif;
  min-height: 100%;
  font-size: 100%;
}

button:hover {
  background-color: #085245;
}

button:active {
  background-color: #f7e29f;
  color: #410b09;
}

.backToMenu {
  padding: 0.7em 0;
}

details {
  border: 1px solid rgb(255, 240, 249);
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  background: #520846;
  cursor: pointer;
}

details[open] {
  padding: .5em;
  background: #032f3a;
}

details[open] summary {
  border-bottom: 1px solid rgb(7, 71, 15);
  margin-bottom: .5em;
  background: #61093c;
}

#ingame2 {
  display: flex;
  max-height: 720px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 500px;
}

#scoreDisplay {
  text-align: right;
  font-size: 48px;
}

#lyrics {
  background-color: #5c0542;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  font-size: 150%;
  overflow-y: scroll;
}

#resultGrade {
  font-size: 72pt;
  float: left;
  padding: 0.1em 0.3em;
}

#resultScore {
  font-size: 150%;
}

.rankThorn {
  animation-duration: 2.5s;
  animation-name: thorn-animation;
  animation-iteration-count: infinite;
}

@keyframes thorn-animation {
  from {
    color: #ff9999;
    filter: drop-shadow(0.1em 0.1em 0.2em #ff9999);
  }

  16.6% {
    color: #ffff99;
    filter: drop-shadow(0.1em 0.1em 0.18em #ffff99);
  }

  33.3% {
    color: #99ff99;
    filter: drop-shadow(0.1em 0.1em 0.2em #99ff99);
  }

  50.0% {
    color: #99ffff;
    filter: drop-shadow(0.1em 0.1em 0.18em #99ffff);
  }

  66.6% {
    color: #9999ff;
    filter: drop-shadow(0.1em 0.1em 0.2em #9999ff);
  }

  83.3% {
    color: #ff99ff;
    filter: drop-shadow(0.1em 0.1em 0.18em #ff99ff);
  }

  to {
    color: #ff9999;
    filter: drop-shadow(0.1em 0.1em 0.2em #ff9999);
  }
}

.rankLbar {
  color: #f38df3;
  filter: drop-shadow(0.075em 0.075em 0.15em #f38df3);
}

.rankCarth {
  color: #fbffc8;
  filter: drop-shadow(0.05em 0.05em 0.1em #fbffc8);
}

.rankSh {
  color: #9ef1fc;
  filter: drop-shadow(0.025em 0.025em 0.05em #9ef1fc);
}

.rankV {
  color: #80f8bc;
}

.rankG {
  color: #78acfa;
}

.rankB {
  color: #aaaaaa;
}

.rank8 {
  color: #ff3333;
  filter: drop-shadow(0.075em 0.075em 0.15em #721111);
}